<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card" [nbSpinner]="loading" nbSpinnerStatus="primary">
      <nb-card-header>Create a new task</nb-card-header>
      <nb-card-body>

        <form class="form-inline" [formGroup]="formGroup">
          <input type="text" nbInput fullWidth placeholder="Description" formControlName="description" required>
          <input type="file" #myInput nbInput (change)="onFileChange($event.target.files)" />
          <button type="submit" #myInput nbButton status="primary" (click)="submit()"
            [disabled]="formGroup.invalid">Add</button>
          <nb-alert *ngIf="formGroup.controls['document'].invalid && formGroup.get('document').errors.SizeError"
            status="danger">The max file size to upload each time is limited to 10MB</nb-alert>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
